
*{
  text-decoration: none;
}
body {
  font-family: verdana, tahoma, arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

a {
  color:white;
  text-decoration: none;
  text-align: center;
  transition:all 0.5s;
}

header .container{
  width: 80%;
  display: flex;
  margin: auto;
  height: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1{
  font-size: 24px;
}
header{
 margin-bottom: 0;
 background: #272727;
 border-bottom: #fff 3px solid;
 color: #fff;
 width: 100%;
}

.indent{
  font-style: italic;
  color: #FF5A5F;
  text-align: center;
}

.login{
  padding-left: 10px;
  font-size: 15px;
  text-align: center;
}
footer{
  text-align: center;
  background: #111;
  padding: 10px 0;
  margin-top: 10px;
  color:white;
  font-weight: 100;
  font-size: 15px;
}
.title {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  margin: auto;
}
.stats {
  background: #272727;
  display: flex;
  height: 40px;
  min-width: 400px;
  align-items: center;
  justify-content: space-around;
  color: #f3f3f3;
}
/****** FORMS HERE ******/
.signup{
  width: 80%;
  display: flex;
  margin: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.wrap{
  width: 500px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  font-size: 14px;
}

.wrap input, .wrap textarea{
  min-width: 96%;
  min-height: 35px;
  max-width: 96%;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid silver;
  padding: 5px;
}
.wrap select{
  width: 98%;
  height: 45px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid silver;
  padding: 5px;
}

.wrap .btn-login:hover{
  background: #f1171e;
  cursor: pointer;
}
.wrap .btn-login{
  width: 100%;
  height: 35px;
  background-color: #FF5A5F;
  color: #fff;
  border-radius: 3px;
  border:1px solid #f3f3f3;
  padding: 5px;
  font-size: 18px;
}
.require {
  float: right;
  margin-bottom: 10px;
}
.star{
  color: red;
}
.send{
  margin-top: 20px;
}
.btn {
  display: flex;
}
/****** MEDIA-QUERRIES ******/
@media(max-width: 850px){
  .header-nav{
      order: 1;
  }

}

@media(max-width: 500px){
  .toggleNav {
      display: block;
    }
    .header-nav ul{
      flex-direction: row;
      margin-left: -20px;
    }

    .header-nav li{
      flex: 1 1 100%;
  }

    .header-nav ul {
      display: none;
    }
      .header-nav ul.open {
        display:flex;
      }
  .login-form {
      flex-direction: column;
    }

  .cover {
      flex-direction: column;
  }
}
